spring.datasource.url=jdbc:postgresql://localhost:5433/therapy-db
spring.datasource.username=therapy-user
spring.datasource.password=therapy-password
spring.jpa.hibernate.ddl-auto=create
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.PostgreSQLDialect

JWT_SECRET_KEY=ThisIsTheDevelopmentJWTSecretKeyItDoesNotHaveToBeSuperSecretButLongEnough

LOCAL_LLM_URL=vllm-imrg.ifi.uzh.ch
LOCAL_LLM_API_KEY=ReplaceWithYourLocalLLMAPIKey
CHAT_GPT_API_KEY=ReplaceWithYourChatGPTAPIKey

PATIENT_APP_URL=https://backend-patient-app-main.jonas-blum.ch
