spring.datasource.url=jdbc:postgresql://localhost:5433/therapy-db
spring.datasource.username=therapy-user
spring.datasource.password=therapy-password
spring.jpa.hibernate.ddl-auto=create
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.PostgreSQLDialect

APP_ENVIRONMENT=dev
JWT_SECRET_KEY=ThisIsTheDevelopmentJWTSecretKeyItDoesNotHaveToBeSuperSecretButLongEnough
PATIENT_APP_URL=https://backend-patient-app-main.jonas-blum.ch
COACH_ACCESS_KEY=ThisIsTheDevelopmentCoachAccessKeyItDoesNotHaveToBeSuperSecretButLongEnough

LLM_MAX_CHARACTERS=150000
MAX_CHARACTERS_PER_PDF=20000

LOCAL_LLM_MODEL=gemma3:12b
LOCAL_LLM_URL=https://vllm-imrg.ifi.uzh.ch/vllm/v1/chat/completions
LOCAL_LLM_API_KEY=ReplaceWithYourLocalLLMAPIKey

AZURE_OPENAI_ENDPOINT=https://nimos-mcivqhow-swedencentral.cognitiveservices.azure.com
AZURE_OPENAI_API_KEY=ReplaceWithYourAzureOpenAIAPIKey
AZURE_OPENAI_DEPLOYMENT_NAME=gpt-4.1
